@font-face {
  font-family: archia;
  src: url('../assets/fonts/Archia-Regular.otf');
  font-weight: 300;
}

@font-face {
  font-family: archia;
  src: url('../assets/fonts/Archia-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: archia;
  src: url('../assets/fonts/Archia-SemiBold.otf');
  font-weight: 700;
}